<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css"
	href="semantic/dist/semantic.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous"></script>
<script src="semantic/dist/semantic.min.js"></script>
<title>Home</title>
</head>
<body>
	<div class="ui top fixed secondary pointing menu">
		<div class="ui container">
			<a th:href="@{/}" class="active item">Home</a>
			<a th:href="@{/}" class="item">Home</a>
			<a th:href="@{/}" class="item">Home</a>

			<div class="right menu">
				<div class="item">
					<a th:href="@{/login}" class="ui button">ログイン</a>
				</div>
				<div class="item">
					<a th:href="@{/regist}" class="ui primary button">新規登録</a>
				</div>
			</div>

		</div>
	</div>

</body>
</html>